



.recommendations__card {
    width: 300px;
      height: 31vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      margin: 10px;
      background-color: white;
      
  }
  
  .recommendations__cards
  {
      display: flex;
  }
  .recommendations__cards__image{
      width: 200px;
      height: 150px;
  }
  .recommendations__cards__p{
      font-size: 15px;
  }
  
  .date {
      font-size: 10px;
      display: flex;
      justify-content: flex-start;
  }
  
  @media only screen and (max-width: 1100px) {
  
      
    
      .recommendations__card {
    
          width: 180px;
          height: 180px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 15px;
          margin: 10px;
          background-color: white;
      }
  
      .recommendations__cards
  {
      display: flex;
  }
      
      .recommendations__cards__image{
          width: 150px;
          height: 100px;
      }
      
      .recommendations__cards__p{
          font-size: 12px;
      }
      
    
    }


/*
.recommendations__card {
  
    width: 300px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 10px;
    background-color: white;
}
.recommendations__cards {
    display: flex;

}


.recommendations__cards__image{
    width: 200px;
}

.recommendations__cards__p{
    font-size: 15px;
}


.date {
    font-size: 9px;
    display: flex;
    justify-content: flex-start;
}


.category {
    font-size: 10px;
    display: flex;
    justify-content: flex-start;
}

@media only screen and (max-width: 1100px) {

    
  
    .recommendations__cards {
  
        width: 180px;
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        margin: 10px;
        background-color: white;
    }
    
    .recommendations__cards__image{
        width: 150px;
        height: 100px;
    }
    
    .recommendations__cards__p{
        font-size: 12px;
    }
  
  }

  */