

.app {
    width: 100%;
   
    
}


@media only screen and (max-width: 1200px){
    .app{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 0vh;
       
    }

}